@page "/guids"


<h1>Create GUIDs</h1>

<div class="row">
    <div class="col-xl-4 col-lg-6">
        <EditForm EditContext="_editContext" OnValidSubmit="CreateGuids">
            <DataAnnotationsValidator />

            <InputRadioGroup @bind-Value="_createGuidModel.GenerationMode">
                <span class="mr-3">GUID Generation Mode:</span>
                @foreach (var mode in (GenerationModes[])Enum.GetValues(typeof(GenerationModes)))
                {
                    var id = $"mode_{mode}";

                    <div class="form-check form-check-inline" data-toggle="tooltip" title="@SimpleDevToolbox.Shared.StaticHelpers.GetDescription(mode)">
                        <InputRadio class="form-check-input" Value="mode" id="@id" />
                        <label class="form-check-label" for="@id">@mode.ToString()</label>
                    </div>
                }
            </InputRadioGroup>

            <div class="form-group">
                <label for="createGuidCount">Specify how many GUIDs you want to create (1-250)</label>
                <div class="input-group">
                    <InputNumber id="createGuidCount" class="form-control" @bind-Value="_createGuidModel.CreateGuidCount" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-primary" type="submit">Create Guid(s)</button>
                    </div>
                </div>
                <ValidationMessage class="invalid-feedback" For="() => _createGuidModel.CreateGuidCount" />
            </div>

            <div class="form-group">
                <label for="template">Output Template</label>
                <InputTextAreaOnInput id="template" class="form-control" @bind-Value="_createGuidModel.Template" />

                <p>Sample Output:<br /><span class="code">@_createGuidModel.Sample.ToString()</span></p>
            </div>
        </EditForm>

        <h3>Example Templates</h3>

        @foreach(var exTemp in _exampleTemplates)
        {
            <div class="card mt-2">
                <div class="card-header">
                    @exTemp.Name
                    @if(exTemp.Hint != null)
                    {
                        <Icon Class="ml-1" data-toggle="tooltip" title="@exTemp.Hint" Name="IconName.QuestionCircle" />
                    }
                    <button class="btn btn-sm btn-outline-info float-right" @onclick="exTemp.Select">Use</button>
                </div>
                <div class="card-body">
                    <h5 class="card-title">@exTemp.Template</h5>
                    <small class="card-text">Sample: <span class="code">@exTemp.Sample</span></small>
                </div>
            </div>
        }
    </div>

    <div class="col-xl-8 col-lg-6">
        @if (_guids != null)
        {
            @if (_guids.Length > 1)
            {
                <button class="btn btn-secondary mb-2" @onclick="CopyAllGuids">Copy All</button>
            }

            <div class="list-group">
                @foreach (var guid in _guids)
                {
                    <button class="list-group-item list-group-item-action code @(guid.IsActive ? "active" : "") @(guid.WasActive ? "list-group-item-dark" : "")" @onclick="async () => await SelectGuid(guid)">@guid</button>
                }
            </div>
        }
    </div>
</div>



